/* Polices par défaut : 
	font-family: Arial, sans-serif;

Police des titres :
	font-family: 'Courgette', cursive;
	
Etoiles dans les titres : 
    FontAwesome 4.6 => fa-star-o

Couleurs : 
	barre de menus : #C55394
	hover menu : #EB43A3
    titre h1 : #C55394
    autres titres : #EB43A3
	footer : #E577B5
	noir : #333 */

/* GLOBAL */
h1, h2, h3, h4, h5, h6 { 
    font-family: 'Courgette', cursive;
    color: #EB43A3;
}


.upper {
    text-transform: uppercase;
}

/*  HEADER */
header {
    background-color: #C55394;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* position: fixed; */
}

.header--title {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    color: #fff;
}

header menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: #C55394;
}

.menu--item {
    size: 1rem;
    font-family: Arial, sans-serif;
    padding: 0.8rem;
    transition: all 120ms ease-out;
}

.menu--item a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
}

.menu--item:hover {
    background-color: #EB43A3;
    cursor: pointer;
}

/* MAIN */

main {
    background-image: url("/assets/background.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main--title {
    font-size: 1.6rem;
    color: #C55394;
    background-image: url("assets/rainbow.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top -30% right;
    object-fit: contain;
    padding: 80px;
    padding-bottom: 20px;
}

.root {
    width: 75%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.42);
}

/* ARTICLES */

.article--title {
    font-size: 1.2rem;
    padding: 3rem 1rem 1rem 1rem;
}

.article--content {
    padding:0 1rem 1rem 1rem;
}

/* UNICORNS */

.unicorns--list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.unicorns--list figure {
    margin: 1rem 0 1rem 1rem;
    cursor: pointer;
    transition: all 120ms ease-in;
}

.unicorns--list figure:last-child {
    margin-right: 1rem;
}

.unicorn--caption {
    color: #fff;
    background-color: rgba(51, 51, 51, 0.908);
    position: relative;
    top: -22px;
    text-align: center;
    transition: all 120ms ease-in;
}

.unicorns--list figure:hover .unicorn--caption {
    background-color: #C55394;
}

/* LOCATION */

.article--wrapper {
    display: flex;
}


.article--wrapper iframe {
    width: 60%;
    margin: 0 1rem 2rem 1rem;
}

.article--half {
    margin: 0 1rem;
}

.article--subtitle {
    margin: 1rem 0;
}

.article--subtitle:first-of-type {
    margin-top: 0;
}

/* NEWSLETTER */

.newsletter {
    display:flex;
    flex-direction: column;
}

.newsletter input {
    width: 50%;
    margin-top: 1rem;
    padding: 0.2rem 0.5rem;
}

.newsletter input[type="button"] {
    width: 25%;
    border: none;
    background-color: #C55394;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    animation: all 120ms ease-out;
}

.newsletter input[type="button"]:hover {
    background-color: #EB43A3;
    box-shadow: inset 4px 4px 15px 0px #C55394;
}
.newsletter input[type="button"]:active {
    box-shadow: none;
}


/* FOOTER */

footer {
    margin-top: 2rem;
    background-color: #E577B5;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #fff;
}

footer span {
    padding: 0.2rem 1rem;
}